<script type="text/x-handlebars" data-template-name="todoTemplate">
  <p class="error">{{TodoEmberApp.todoListsController.error}}</p>
    
  {{! do not use button action as it will take unwanted return input later }}
  
  {{#view Em.Button classBinding="isActive"
  target="TodoEmberApp.todoListsController"
  action="addTodoList"}}Add Todo list{{/view}}

  <section id="lists">
    {{#collection contentBinding="TodoEmberApp.todoListsController" itemTagName="article" itemClassNames="todoList" }}
    <header>
      <form onsubmit="event.preventDefault();">
        {{#view TodoEmberApp.EditTodoListView valueBinding="view.content.title" class="required" }}
        {{/view}}
      </form>
    </header>
    <a href="#" class="deletelist" {{action "deleteTodoList" on="click" contentBinding="view.content" target="view.content"}}>X</a>

    {{outlet}}

    {{#view TodoEmberApp.CreateTodoView valueBinding="view.content.newTodoTitle" class="addTodo" placeholder="Type here to add"}}
    {{/view}}

    {{#if view.content.hasError}}
    <p class="error">{{view.content.error}}</p>
    {{/if}}
    {{/collection}}
  </section>
</script>
