<header>
	<p>My Ember App</p>
</header>
<div id="body">
  {{partial navbar}}
	<div id="main-content">
		{{outlet}}
	</div>
</div>
	<footer>
	<p>Learn more about <a href="http://go.microsoft.com/fwlink/?LinkId=273732">Single Page Applications</a></p>
	{{copyright "My ASP.NET MVC Application"}}
</footer>